@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 0 0% 94.1%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 231 48% 48%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 240 10% 3.9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 240 5.9% 65.1%;
    --accent: 266 39% 58%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 231 48% 48%;
    --chart-1: 231 48% 48%;
    --chart-2: 266 39% 58%;
    --chart-3: 197 37% 34%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    --sidebar-background: 0 0% 100%;
    --sidebar-foreground: 240 10% 3.9%;
    --sidebar-primary: 231 48% 48%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 0 0% 94.1%;
    --sidebar-accent-foreground: 240 10% 3.9%;
    --sidebar-border: 0 0% 89.8%;
    --sidebar-ring: 231 48% 48%;
  }
  .dark {
    --background: 240 5% 12%;
    --foreground: 0 0% 98%;
    --card: 240 5% 16%;
    --card-foreground: 0 0% 98%;
    --popover: 240 5% 12%;
    --popover-foreground: 0 0% 98%;
    --primary: 231 48% 60%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 266 39% 68%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 25.9%;
    --input: 240 3.7% 15.9%;
    --ring: 231 48% 60%;
    --chart-1: 231 48% 60%;
    --chart-2: 266 39% 68%;
    --chart-3: 197 37% 44%;
    --chart-4: 43 74% 76%;
    --chart-5: 27 87% 77%;
    --sidebar-background: 240 5% 10%;
    --sidebar-foreground: 0 0% 98%;
    --sidebar-primary: 231 48% 60%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 5% 16%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-border: 240 3.7% 25.9%;
    --sidebar-ring: 231 48% 60%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
